<input type = "hidden"
	   name = "productId"
	   value = "<%= product.id %>"
>
<button class = "bg-emerald-600 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded transition-colors duration-300 ease-in-out">
	Add to Cart
</button>