<footer class = "bg-gray-900 text-gray-400 py-6">
	<div class = "container mx-auto flex flex-col items-center">
		<a href = "https://github.com/spiritanand/ShoppingExpress" target = "_blank" rel = "noopener noreferrer">
			<img src = "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt = "GitHub Logo"
					 class = "h-8 w-8 mb-2 rounded-full"
			>
		</a>
		<h2 class = "text-2xl font-bold">Project Name</h2>
		<p class = "text-sm italic mt-1 text-center">"Why did the Express app go to therapy? It had too many routing issues!"</p>
	</div>
</footer>
</body>
</html>