<!DOCTYPE html>
<html lang = "en">

<head>
	<meta charset = "UTF-8">
	<meta name = "viewport"
		  content = "width=device-width, initial-scale=1.0"
	>

	<!-- Meta Tags -->
	<meta name = "description"
		  content = "Your shopping destination for all your needs. Find a wide range of products and enjoy a seamless shopping experience. Built using express and mongodb."
	>
	<meta name = "keywords" content = "shopping, online shopping, e-commerce, products, store, discounts">
	<meta name = "author" content = "spiritanand">

	<!-- Open Graph Tags -->
	<meta property = "og:title" content = "Shopping Express">
	<meta property = "og:description"
		  content = "Your shopping destination for all your needs. Find a wide range of products and enjoy a seamless shopping experience."
	>
	<meta property = "og:url" content = "https://shoppingexpress-production.up.railway.app/">
	<meta property = "og:type" content = "website">

	<link rel = "stylesheet"
		  href = "/output.css"
	>
	<link rel = 'icon' href = '/trolley.png'>
	<title><%= title; %></title>