<header>
    <nav class = "bg-gray-800 py-4">
        <div class = "container mx-auto flex items-center justify-between px-4">
            <div>
                <a href = "/"
                   class = "text-white text-2xl font-bold hover:text-primary"
                >Shopping Express</a>
            </div>
            <div>
                <a href = "/"
                   class = "text-white px-4 hover:text-primary <%= path
                                                                   === "/home"
                                                                   ? "text-primary"
                                                                   : "" %>"
                >Home</a>
                <a href = "/admin/products"
                   class = "text-white px-4 hover:text-primary <%= path
                                                                   === "/admin/products"
                                                                   ? "text-primary"
                                                                   : "" %>"
                >Add</a>
            </div>
        </div>
    </nav>
</header>
