<%- include('includes/head.ejs') %>
</head>

<body class = "body-404">
<%- include('includes/navbar.ejs') %>
<div class = "container-404 mt-16 mx-5">
	<h1 class = "text-4xl font-bold text-gray-900 mb-4">Oops! Page Not Found</h1>
	<p class = "text-gray-700 text-lg mb-8">Error 404: File Not Found.</p>
	<p class = "text-gray-700 text-lg mb-8">Do you feel like you're in the wrong
																					universe?</p>
	<a href = "/"
		 class = "bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded-full shadow-lg"
	>Beam me home, Scotty!</a>
	<p class = "text-gray-500 text-sm mt-4">Or you can try the magic words "sudo make me a
																					sandwich".</p>
	<img src = "https://media.giphy.com/media/YyKPbc5OOTSQE/giphy.gif"
			 alt = "404 Error Glitch"
			 class = "mt-4 max-w-sm mb-8 container"
	>
</div>
<%- include('includes/end.ejs') %>
