@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    border-color: rgba(66, 153, 225, 0.5);
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.2);
}

.body-404 {
    background-color: #f3f4f6;
}

.container-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-image {
    height: 175px;
    object-fit: contain;
}
